In [97]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import numpy.ma as ma
from scipy.stats import linregress
import json as json
from ohmysportsfeedspy import MySportsFeeds
from sports_api_key import api_key 

msf = MySportsFeeds(version="2.0")
msf.authenticate(api_key, 'MYSPORTSFEEDS')

In [98]:
#output = msf.msf_get_data(league='nba',season='2018-2019-regular',feed='seasonal_games',format='json')
#print(output)

team_stats = ['teamStatsTotals']
team_data = []
stats_data = []

lastUpdate = ['lastUpdatedOn']
playerStats = ['playerStatsTotals']
#chedule = ['schedule']
for team in team_stats:
    response = msf.msf_get_data(league='nba',season='2019-2020-regular',feed='seasonal_player_stats',format='json')
    lastUpdate.append(response['lastUpdatedOn'])
    playerStats.append(response['playerStatsTotals'])
    #chedule.append(response['schedule'])
#print(response)

In [58]:
playerStats[1]
playerDict = playerStats[1]
nbaPlayerStats = pd.DataFrame(playerDict)
nbaPlayerStats
#nbaData

,player,team,stats
0,"{'id': 9390, 'firstName': 'Steven', 'lastName'...","{'id': 96, 'abbreviation': 'OKL'}","{'gamesPlayed': 58, 'fieldGoals': {'fg2PtAtt':..."
1,"{'id': 13742, 'firstName': 'Bam', 'lastName': ...","{'id': 92, 'abbreviation': 'MIA'}","{'gamesPlayed': 65, 'fieldGoals': {'fg2PtAtt':..."
2,"{'id': 9480, 'firstName': 'LaMarcus', 'lastNam...","{'id': 106, 'abbreviation': 'SAS'}","{'gamesPlayed': 53, 'fieldGoals': {'fg2PtAtt':..."
3,"{'id': 17208, 'firstName': 'Nickeil', 'lastNam...","{'id': 110, 'abbreviation': 'NOP'}","{'gamesPlayed': 41, 'fieldGoals': {'fg2PtAtt':..."
4,"{'id': 15218, 'firstName': 'Grayson', 'lastNam...","{'id': 107, 'abbreviation': 'MEM'}","{'gamesPlayed': 30, 'fieldGoals': {'fg2PtAtt':..."
...,...,...,...
566,"{'id': 9119, 'firstName': 'Thaddeus', 'lastNam...","{'id': 89, 'abbreviation': 'CHI'}","{'gamesPlayed': 64, 'fieldGoals': {'fg2PtAtt':..."
567,"{'id': 15202, 'firstName': 'Trae', 'lastName':...","{'id': 91, 'abbreviation': 'ATL'}","{'gamesPlayed': 60, 'fieldGoals': {'fg2PtAtt':..."
568,"{'id': 9130, 'firstName': 'Cody', 'lastName': ...","{'id': 93, 'abbreviation': 'CHA'}","{'gamesPlayed': 58, 'fieldGoals': {'fg2PtAtt':..."
569,"{'id': 13779, 'firstName': 'Ante', 'lastName':...","{'id': 86, 'abbreviation': 'CLE'}","{'gamesPlayed': 22, 'fieldGoals': {'fg2PtAtt':..."
570,"{'id': 10169, 'firstName': 'Ivica', 'lastName'...","{'id': 102, 'abbreviation': 'LAC'}","{'gamesPlayed': 64, 'fieldGoals': {'fg2PtAtt':..."

In [59]:
nbaPlayerName = pd.concat([nbaPlayerStats.player.apply(pd.Series)], axis=1)
nbaPlayerName.head()

,id,firstName,lastName,primaryPosition,jerseyNumber,currentTeam,currentRosterStatus,currentInjury,height,weight,birthDate,age,birthCity,birthCountry,rookie,highSchool,college,handedness,officialImageSrc,socialMediaAccounts
0,9390,Steven,Adams,C,12,"{'id': 96, 'abbreviation': 'OKL'}",ROSTER,None,"6'11""",265.0,1993-07-20,26,Rotorua,New Zealand,False,Notre Dame Preparatory School,University of Pittsburgh,{'shoots': 'R'},https://ak-static.cms.nba.com/wp-content/uploa...,"[{'mediaType': 'TWITTER', 'value': 'RealSteven..."
1,13742,Bam,Adebayo,PF,13,"{'id': 92, 'abbreviation': 'MIA'}",ROSTER,None,"6'9""",255.0,1997-07-18,22,"Newark, NJ",USA,False,High Point Christian Academy,University of Kentucky,{'shoots': 'R'},https://ak-static.cms.nba.com/wp-content/uploa...,"[{'mediaType': 'TWITTER', 'value': 'Bam1of1'}]"
2,9480,LaMarcus,Aldridge,PF,12,"{'id': 106, 'abbreviation': 'SAS'}",ROSTER,None,"6'11""",250.0,1985-07-19,34,"Dallas, TX",USA,False,Seagoville,University of Texas at Austin,{'shoots': 'R'},https://ak-static.cms.nba.com/wp-content/uploa...,"[{'mediaType': 'TWITTER', 'value': 'aldridge_1..."
3,17208,Nickeil,Alexander-Walker,SG,0,"{'id': 110, 'abbreviation': 'NOP'}",ROSTER,None,"6'5""",205.0,1998-09-02,21,"Toronto, ON",Canada,True,Vaughan Secondary School,Virginia Tech,{'shoots': None},None,[]
4,15218,Grayson,Allen,SG,3,"{'id': 107, 'abbreviation': 'MEM'}",ROSTER,None,"6'4""",198.0,1995-10-08,24,"Jacksonville, FL",USA,False,None,None,{'shoots': None},https://ak-static.cms.nba.com/wp-content/uploa...,[]

In [60]:
nbaPlayerTeam = pd.concat([nbaPlayerStats.team.apply(pd.Series)], axis=1)
nbaPlayerTeam.head()

      id abbreviation
0   96.0          OKL
1   92.0          MIA
2  106.0          SAS
3  110.0          NOP
4  107.0          MEM

In [78]:
concPlayerStats = pd.concat([nbaPlayerStats.stats.apply(pd.Series)], axis=1)
concPlayerStats.head()

,gamesPlayed,fieldGoals,freeThrows,rebounds,offense,defense,miscellaneous
0,58,"{'fg2PtAtt': 440, 'fg2PtAttPerGame': 7.6, 'fg2...","{'ftAtt': 183, 'ftAttPerGame': 3.2, 'ftMade': ...","{'offReb': 197, 'offRebPerGame': 3.4, 'defReb'...","{'ast': 141, 'astPerGame': 2.4, 'pts': 633, 'p...","{'tov': 87, 'tovPerGame': 1.5, 'stl': 50, 'stl...","{'fouls': 114, 'foulsPerGame': 2.0, 'foulsDraw..."
1,65,"{'fg2PtAtt': 706, 'fg2PtAttPerGame': 10.9, 'fg...","{'ftAtt': 342, 'ftAttPerGame': 5.3, 'ftMade': ...","{'offReb': 166, 'offRebPerGame': 2.6, 'defReb'...","{'ast': 333, 'astPerGame': 5.1, 'pts': 1053, '...","{'tov': 184, 'tovPerGame': 2.8, 'stl': 78, 'st...","{'fouls': 166, 'foulsPerGame': 2.6, 'foulsDraw..."
2,53,"{'fg2PtAtt': 638, 'fg2PtAttPerGame': 12.0, 'fg...","{'ftAtt': 191, 'ftAttPerGame': 3.6, 'ftMade': ...","{'offReb': 104, 'offRebPerGame': 2.0, 'defReb'...","{'ast': 129, 'astPerGame': 2.4, 'pts': 1001, '...","{'tov': 74, 'tovPerGame': 1.4, 'stl': 36, 'stl...","{'fouls': 130, 'foulsPerGame': 2.5, 'foulsDraw..."
3,41,"{'fg2PtAtt': 109, 'fg2PtAttPerGame': 2.7, 'fg2...","{'ftAtt': 28, 'ftAttPerGame': 0.7, 'ftMade': 1...","{'offReb': 8, 'offRebPerGame': 0.2, 'defReb': ...","{'ast': 74, 'astPerGame': 1.8, 'pts': 211, 'pt...","{'tov': 40, 'tovPerGame': 1.0, 'stl': 11, 'stl...","{'fouls': 46, 'foulsPerGame': 1.1, 'foulsDrawn..."
4,30,"{'fg2PtAtt': 85, 'fg2PtAttPerGame': 2.8, 'fg2P...","{'ftAtt': 35, 'ftAttPerGame': 1.2, 'ftMade': 3...","{'offReb': 5, 'offRebPerGame': 0.2, 'defReb': ...","{'ast': 43, 'astPerGame': 1.4, 'pts': 221, 'pt...","{'tov': 23, 'tovPerGame': 0.8, 'stl': 7, 'stlP...","{'fouls': 37, 'foulsPerGame': 1.2, 'foulsDrawn..."

In [79]:
PlayerStatsFG = pd.concat([concPlayerStats.fieldGoals.apply(pd.Series)], axis=1)
PlayerStatsFG.head()

,fg2PtAtt,fg2PtAttPerGame,fg2PtMade,fg2PtMadePerGame,fg2PtPct,fg3PtAtt,fg3PtAttPerGame,fg3PtMade,fg3PtMadePerGame,fg3PtPct,fgAtt,fgAttPerGame,fgMade,fgMadePerGame,fgPct
0,440.0,7.6,261.0,4.5,59.3,3.0,0.1,1.0,0.0,33.3,443.0,7.6,262.0,4.5,59.1
1,706.0,10.9,407.0,6.3,57.6,13.0,0.2,1.0,0.0,7.7,720.0,11.1,408.0,6.3,56.7
2,638.0,12.0,330.0,6.2,51.7,157.0,3.0,61.0,1.2,38.9,794.0,15.0,391.0,7.4,49.2
3,109.0,2.7,37.0,0.9,33.9,117.0,2.9,40.0,1.0,34.2,227.0,5.5,77.0,1.9,33.9
4,85.0,2.8,46.0,1.5,54.1,91.0,3.0,33.0,1.1,36.3,176.0,5.9,79.0,2.6,44.9

In [80]:
PlayerStatsOFF = pd.concat([concPlayerStats.offense.apply(pd.Series)], axis=1)
PlayerStatsOFF.head()

     ast  astPerGame     pts  ptsPerGame
0  141.0         2.4   633.0        10.9
1  333.0         5.1  1053.0        16.2
2  129.0         2.4  1001.0        18.9
3   74.0         1.8   211.0         5.1
4   43.0         1.4   221.0         7.4

In [83]:
firstName = nbaPlayerName['firstName']
lastName = nbaPlayerName['lastName']
playerPos = nbaPlayerName['primaryPosition']
playerTeam = nbaPlayerTeam['abbreviation']
playerfGpct = PlayerStatsFG['fgPct']
playerPTS = PlayerStatsOFF['pts']
playerPPG = PlayerStatsOFF['ptsPerGame']


filtPlayerStats = pd.DataFrame({'Last Name':lastName,
                              "First Name":firstName,
                              "Position":playerPos,
                              "Team":playerTeam,
                                "Points Per Game":playerPPG,
                              "Total FG %":playerfGpct,
                              "Total Points Scored":playerPTS,
})

In [84]:
filtPlayerStats

,Last Name,First Name,Position,Team,Points Per Game,Total FG %,Total Points Scored
0,Adams,Steven,C,OKL,10.9,59.1,633.0
1,Adebayo,Bam,PF,MIA,16.2,56.7,1053.0
2,Aldridge,LaMarcus,PF,SAS,18.9,49.2,1001.0
3,Alexander-Walker,Nickeil,SG,NOP,5.1,33.9,211.0
4,Allen,Grayson,SG,MEM,7.4,44.9,221.0
...,...,...,...,...,...,...,...
566,Young,Thaddeus,PF,CHI,10.3,44.7,659.0
567,Young,Trae,PG,ATL,29.6,43.7,1778.0
568,Zeller,Cody,C,CHA,11.1,52.3,642.0
569,Zizic,Ante,C,CLE,4.4,56.9,96.0
570,Zubac,Ivica,C,LAC,8.0,59.8,511.0

In [90]:
filtPlayerStats.sort_values(by=['Team','Total Points Scored'], inplace=True)
filtPlayerStats.head(20)

,Last Name,First Name,Position,Team,Points Per Game,Total FG %,Total Points Scored
77,Brown Jr.,Charles,SF,ATL,2.0,31.6,20.0
201,Graham,Treveon,SG,ATL,3.3,37.3,72.0
139,Dedmon,Dewayne,C,ATL,8.1,39.3,81.0
200,Graham,Treveon,SG,ATL,5.2,35.2,171.0
138,Dedmon,Dewayne,C,ATL,5.1,40.4,175.0
312,Labissiere,Skal,PF,ATL,5.8,55.1,190.0
501,Teague,Jeff,PG,ATL,7.7,41.2,193.0
196,Goodwin,Brandon,PG,ATL,6.1,40.0,206.0
173,Fernando,Bruno,PF,ATL,4.3,51.8,240.0
42,Bembry,DeAndre',SG,ATL,5.8,45.6,249.0
95,Carter,Vince,SF,ATL,5.0,35.2,298.0
289,Jones,Damian,C,ATL,5.6,68.0,306.0
500,Teague,Jeff,PG,ATL,12.4,44.6,448.0
91,Capela,Clint,C,ATL,13.9,62.9,543.0
451,Reddish,Cam,SF,ATL,10.5,38.4,610.0
257,Huerter,Kevin,SG,ATL,12.2,41.3,684.0
258,Hunter,De'Andre,SF,ATL,12.3,41.0,778.0
117,Collins,John,PF,ATL,21.6,58.3,885.0
567,Young,Trae,PG,ATL,29.6,43.7,1778.0
169,Fall,Tacko,C,BOS,3.2,75.0,19.0

In [91]:
filtPlayerStats.to_csv('output_data/2019-2020_player.csv')