In [1]:
import gmaps
import pandas as pd

from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

In [2]:
# Create a dataframe with coordinate data
venue_df = pd.read_csv('Raw_Data/NBA_venua.csv')
venue_df.dropna(inplace=True)
venue_df.head()

,Unnamed: 0,Team Name,Abbreviation,"City, State",Venue,Latitude,Longitude
0,0,Raptors,TOR,"Toronto, ON",Scotiabank Arena,43.643333,-79.379167
1,1,Celtics,BOS,"Boston, MA",TD Garden,42.366303,-71.062228
2,2,Knicks,NYK,"New York, NY",Madison Square Garden,40.750556,-73.993611
3,3,Nets,BRO,"Brooklyn, NY",Barclays Center,40.682661,-73.975225
4,4,76ers,PHI,"Philadelphia, PA",Wells Fargo Center,39.901111,-75.171944

In [3]:
# Store the coordinates in locations
locations = venue_df[["Latitude","Longitude"]]

In [4]:
# Customize the size of the figure
figure_layout = {}

fig = gmaps.figure(layout=figure_layout)

In [6]:
# Assign the marker layer to a variable
markers = gmaps.marker_layer(locations)

# Add the layer to the map
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Create a dataframe for winning pct by team
winpct_df = pd.read_csv('Raw_Data/2019-20_TEAMSTATS.csv')
winpct_df.dropna(inplace=True)
winpct_df.head()

,Unnamed: 0,Abr,Team Name,Conference,Wins,Losses,Win Pct,FG % (2pt),FG% (3pt),Total FG%,Turnovers Committed,Points Scored,Poinst Against
0,0,ATL,Hawks,East,20,47,0.299,52.5,33.3,44.9,15.7,111.8,119.8
1,1,BOS,Celtics,East,43,21,0.672,51.9,36.3,45.9,13.0,113.0,106.7
2,2,BRO,Nets,East,30,34,0.469,51.9,34.0,44.4,14.8,110.8,111.4
3,3,CHA,Hornets,East,23,42,0.354,48.9,35.2,43.4,13.9,102.9,109.6
4,4,CHI,Bulls,East,22,43,0.338,51.1,34.7,44.6,14.6,106.8,109.9

In [8]:
# Merge venue_df & winpct_df to create a dataframe for the heatmap
heatmap_df = pd.merge(venue_df, winpct_df, how='outer', on='Team Name')
heatmap_df.head()

,Unnamed: 0_x,Team Name,Abbreviation,"City, State",Venue,Latitude,Longitude,Unnamed: 0_y,Abr,Conference,Wins,Losses,Win Pct,FG % (2pt),FG% (3pt),Total FG%,Turnovers Committed,Points Scored,Poinst Against
0,0,Raptors,TOR,"Toronto, ON",Scotiabank Arena,43.643333,-79.379167,27,TOR,East,46,18,0.719,52.1,37.1,45.8,13.6,113.0,106.5
1,1,Celtics,BOS,"Boston, MA",TD Garden,42.366303,-71.062228,1,BOS,East,43,21,0.672,51.9,36.3,45.9,13.0,113.0,106.7
2,2,Knicks,NYK,"New York, NY",Madison Square Garden,40.750556,-73.993611,19,NYK,East,21,45,0.318,49.9,33.7,44.8,13.9,105.8,112.3
3,3,Nets,BRO,"Brooklyn, NY",Barclays Center,40.682661,-73.975225,2,BRO,East,30,34,0.469,51.9,34.0,44.4,14.8,110.8,111.4
4,4,76ers,PHI,"Philadelphia, PA",Wells Fargo Center,39.901111,-75.171944,22,PHI,East,39,26,0.600,52.3,36.2,46.5,13.4,109.6,107.3

In [9]:
# Store latitude and longitude in heatmap_locations
heatmap_locations = heatmap_df[["Latitude","Longitude"]]

# Fill NaN values and convert to float
win_pct = heatmap_df["Win Pct"].astype(float)

In [10]:
# Plot Heatmap
fig_1 = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(heatmap_locations, weights=win_pct, dissipating=False, max_intensity=1.5, point_radius=2.0)
# print(max(win_pct))
# Add layer
fig_1.add_layer(heat_layer)

# Display figure
fig_1

Figure(layout=FigureLayout(height='420px'))