In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import numpy.ma as ma
from scipy.stats import linregress
import json as json
from ohmysportsfeedspy import MySportsFeeds
from sports_api_key import api_key 

output_data_file = "output_data/nba.csv"

msf = MySportsFeeds(version="2.0")
msf.authenticate(api_key, 'MYSPORTSFEEDS')

In [3]:
#output = msf.msf_get_data(league='nba',season='2018-2019-regular',feed='seasonal_games1',format='json')
#print(output)

team_stats = ['teamStatsTotals']
team_data = []
stats_data = []

lastUpdate = ['lastUpdatedOn']
#games = ['games']
#chedule = ['schedule']
for team in team_stats:
    response = msf.msf_get_data(league='nba',season='2019-2020-regular',feed='seasonal_team_stat',format='json')
    lastUpdate.append(response['lastUpdatedOn'])
    stats_data.append(response['teamStatsTotals'])
    #chedule.append(response['schedule'])
#print(response)

ValueError: Unknown feed 'seasonal_team_stat'.  Known values are: ['seasonal_games', 'daily_games', 'weekly_games', 'seasonal_dfs', 'daily_dfs', 'weekly_dfs', 'seasonal_player_gamelogs', 'daily_player_gamelogs', 'weekly_player_gamelogs', 'seasonal_team_gamelogs', 'daily_team_gamelogs', 'weekly_team_gamelogs', 'game_boxscore', 'game_playbyplay', 'game_lineup', 'current_season', 'player_injuries', 'latest_updates', 'seasonal_team_stats', 'seasonal_player_stats', 'seasonal_venues', 'players', 'seasonal_standings', 'daily_game_lines', 'daily_futures']

In [66]:
nbaStatsDict = stats_data
nbaStatsData = pd.DataFrame(stats_data)
nbaStatsData

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,"{'team': {'id': 91, 'city': 'Atlanta', 'name':...","{'team': {'id': 82, 'city': 'Boston', 'name': ...","{'team': {'id': 84, 'city': 'Brooklyn', 'name'...","{'team': {'id': 93, 'city': 'Charlotte', 'name...","{'team': {'id': 89, 'city': 'Chicago', 'name':...","{'team': {'id': 86, 'city': 'Cleveland', 'name...","{'team': {'id': 108, 'city': 'Dallas', 'name':...","{'team': {'id': 99, 'city': 'Denver', 'name': ...","{'team': {'id': 88, 'city': 'Detroit', 'name':...","{'team': {'id': 101, 'city': 'Golden State', '...",...,"{'team': {'id': 96, 'city': 'Oklahoma City', '...","{'team': {'id': 95, 'city': 'Orlando', 'name':...","{'team': {'id': 85, 'city': 'Philadelphia', 'n...","{'team': {'id': 104, 'city': 'Phoenix', 'name'...","{'team': {'id': 97, 'city': 'Portland', 'name'...","{'team': {'id': 103, 'city': 'Sacramento', 'na...","{'team': {'id': 106, 'city': 'San Antonio', 'n...","{'team': {'id': 81, 'city': 'Toronto', 'name':...","{'team': {'id': 98, 'city': 'Utah', 'name': 'J...","{'team': {'id': 94, 'city': 'Washington', 'nam..."

In [67]:
nbaStats = nbaStatsData.transpose()

In [68]:
nbaStats.rename(columns = {0:'Data'}, inplace = True) 
nbaStatsConc = pd.concat([nbaStats.Data.apply(pd.Series)], axis=1)
nbaStatsConc.head()

,team,stats
0,"{'id': 91, 'city': 'Atlanta', 'name': 'Hawks',...","{'gamesPlayed': 67, 'fieldGoals': {'fg2PtAtt':..."
1,"{'id': 82, 'city': 'Boston', 'name': 'Celtics'...","{'gamesPlayed': 64, 'fieldGoals': {'fg2PtAtt':..."
2,"{'id': 84, 'city': 'Brooklyn', 'name': 'Nets',...","{'gamesPlayed': 64, 'fieldGoals': {'fg2PtAtt':..."
3,"{'id': 93, 'city': 'Charlotte', 'name': 'Horne...","{'gamesPlayed': 65, 'fieldGoals': {'fg2PtAtt':..."
4,"{'id': 89, 'city': 'Chicago', 'name': 'Bulls',...","{'gamesPlayed': 65, 'fieldGoals': {'fg2PtAtt':..."

In [69]:
statTeamData = pd.concat([nbaStatsConc.team.apply(pd.Series)], axis=1)
statTeamData.head(1)

,id,city,name,abbreviation,homeVenue,teamColoursHex,socialMediaAccounts,officialLogoImageSrc
0,91,Atlanta,Hawks,ATL,"{'id': 20, 'name': 'State Farm Arena'}","[#e03a3e, #c1d32f, #26282a]","[{'mediaType': 'TWITTER', 'value': 'ATLHawks'}]",https://global.nba.com/media/img/teams/00/logo...

In [70]:
nbaTeamStats = pd.concat([nbaStatsConc.stats.apply(pd.Series)], axis=1)
nbaTeamStats.head(1)

,gamesPlayed,fieldGoals,freeThrows,rebounds,offense,defense,miscellaneous,standings
0,67,"{'fg2PtAtt': 3653, 'fg2PtAttPerGame': 54.5, 'f...","{'ftAtt': 1566, 'ftAttPerGame': 23.4, 'ftMade'...","{'offReb': 662, 'offRebPerGame': 9.9, 'defReb'...","{'ast': 1605, 'astPerGame': 24.0, 'pts': 7488,...","{'tov': 1054, 'tovPerGame': 15.7, 'stl': 523, ...","{'fouls': 1597, 'foulsPerGame': 23.8, 'foulsDr...","{'wins': 20, 'losses': 47, 'winPct': 0.299, 'g..."

In [71]:
nbaStatsFG = pd.concat([nbaTeamStats.fieldGoals.apply(pd.Series)], axis=1)
nbaStatsFG.head(1)

,fg2PtAtt,fg2PtAttPerGame,fg2PtMade,fg2PtMadePerGame,fg2PtPct,fg3PtAtt,fg3PtAttPerGame,fg3PtMade,fg3PtMadePerGame,fg3PtPct,fgAtt,fgAttPerGame,fgMade,fgMadePerGame,fgPct
0,3653.0,54.5,1919.0,28.6,52.5,2416.0,36.1,805.0,12.0,33.3,6068.0,90.6,2723.0,40.6,44.9

In [72]:
nbaStatsOFF = pd.concat([nbaTeamStats.offense.apply(pd.Series)], axis=1)
nbaStatsOFF.head(1)

      ast  astPerGame     pts  ptsPerGame
0  1605.0        24.0  7488.0       111.8

In [73]:
nbaStatsDEF = pd.concat([nbaTeamStats.defense.apply(pd.Series)], axis=1)
nbaStatsDEF.head(1)

,tov,tovPerGame,stl,stlPerGame,blk,blkPerGame,blkAgainst,blkAgainstPerGame,ptsAgainst,ptsAgainstPerGame
0,1054.0,15.7,523.0,7.8,341.0,5.1,429.0,6.4,8027.0,119.8

In [74]:
nbaStatsMISC = pd.concat([nbaTeamStats.miscellaneous.apply(pd.Series)], axis=1)
nbaStatsMISC.head(1)

,fouls,foulsPerGame,foulsDrawn,foulsDrawnPerGame,foulPers,foulPersPerGame,foulPersDrawn,foulPersDrawnPerGame,foulTech,foulTechPerGame,...,foulFlag1PerGame,foulFlag1Drawn,foulFlag1DrawnPerGame,foulFlag2,foulFlag2PerGame,foulFlag2Drawn,foulFlag2DrawnPerGame,ejections,plusMinus,plusMinusPerGame
0,1597.0,23.8,1406.0,21.0,1548.0,23.1,1399.0,20.9,1548.0,0.4,...,0.0,4.0,0.1,0.0,0.0,1.0,0.0,1.0,-539.0,-8.0

In [75]:
nbaStatsSTAND = pd.concat([nbaTeamStats.standings.apply(pd.Series)], axis=1)
nbaStatsSTAND.head(1)

   wins  losses  winPct  gamesBack
0  20.0    47.0   0.299        0.0

In [76]:
teamAbr = statTeamData['abbreviation']
teamName = statTeamData['name']
pt2FGpct = nbaStatsFG['fg2PtPct']
pt3FGpct = nbaStatsFG['fg3PtPct']
totFGpct = nbaStatsFG['fgPct']
ptsScored = nbaStatsOFF['ptsPerGame']
tovPerGam = nbaStatsDEF['tovPerGame']
PtsAgainst = nbaStatsDEF['ptsAgainstPerGame']
teamWins = nbaStatsSTAND['wins']
teamLoss = nbaStatsSTAND['losses']
teamWinPct = nbaStatsSTAND['winPct']


filtTeamStats = pd.DataFrame({"Abr":teamAbr,
                              "Team Name":teamName,
                              "Wins":teamWins,
                              "Losses":teamLoss,
                              "Win Pct":teamWinPct,
                              "FG % (2pt)":pt2FGpct,
                              "FG% (3pt)":pt3FGpct,
                              "Total FG%":totFGpct,
                              "Turnovers Committed":tovPerGam,
                              "Points Scored":ptsScored,
                              "Poinst Against":PtsAgainst
})

In [77]:
filtTeamStats.to_csv('output_data/2019-20_TEAMSTATS.csv')
filtTeamStats

,Abr,Team Name,Wins,Losses,Win Pct,FG % (2pt),FG% (3pt),Total FG%,Turnovers Committed,Points Scored,Poinst Against
0,ATL,Hawks,20.0,47.0,0.299,52.5,33.3,44.9,15.7,111.8,119.8
1,BOS,Celtics,43.0,21.0,0.672,51.9,36.3,45.9,13.0,113.0,106.7
2,BRO,Nets,30.0,34.0,0.469,51.9,34.0,44.4,14.8,110.8,111.4
3,CHA,Hornets,23.0,42.0,0.354,48.9,35.2,43.4,13.9,102.9,109.6
4,CHI,Bulls,22.0,43.0,0.338,51.1,34.7,44.6,14.6,106.8,109.9
5,CLE,Cavaliers,19.0,46.0,0.292,51.9,35.1,45.8,15.7,106.9,114.7
6,DAL,Mavericks,40.0,27.0,0.597,54.3,36.9,46.2,12.2,116.4,110.4
7,DEN,Nuggets,43.0,22.0,0.662,52.9,35.8,47.1,12.9,110.4,107.4
8,DET,Pistons,20.0,46.0,0.303,51.5,36.7,45.9,14.6,107.2,110.8
9,GSW,Warriors,15.0,50.0,0.231,49.6,33.4,43.8,14.3,106.3,115.0
10,HOU,Rockets,40.0,24.0,0.625,55.4,34.8,45.4,14.1,118.1,114.4
11,IND,Pacers,39.0,26.0,0.600,52.8,36.3,47.7,12.5,109.3,107.4
12,LAC,Clippers,44.0,20.0,0.688,52.1,36.6,46.4,14.1,116.2,109.6
13,LAL,Lakers,49.0,14.0,0.778,55.6,35.5,48.5,14.5,114.3,106.9
14,MEM,Grizzlies,32.0,33.0,0.492,53.1,35.2,47.0,14.6,112.6,113.7
15,MIA,Heat,41.0,24.0,0.631,53.0,38.3,46.9,13.9,112.2,108.9
16,MIL,Bucks,53.0,12.0,0.815,56.6,35.6,47.7,14.4,118.6,107.4
17,MIN,Timberwolves,19.0,45.0,0.297,52.1,33.6,44.1,14.7,113.2,117.5
18,NOP,Pelicans,28.0,36.0,0.438,52.5,37.2,46.2,15.7,116.2,117.0
19,NYK,Knicks,21.0,45.0,0.318,49.9,33.7,44.8,13.9,105.8,112.3
20,OKL,Thunder,40.0,24.0,0.625,53.6,35.5,47.3,12.7,110.8,108.3
21,ORL,Magic,30.0,35.0,0.462,49.9,34.1,44.2,12.0,106.4,107.2
22,PHI,76ers,39.0,26.0,0.600,52.3,36.2,46.5,13.4,109.6,107.3
23,PHX,Suns,26.0,39.0,0.400,52.6,35.3,46.4,14.5,112.6,113.9
24,POR,Trail Blazers,29.0,37.0,0.439,51.3,37.2,46.1,12.6,113.6,115.3
25,SAC,Kings,28.0,36.0,0.438,52.1,36.4,45.9,13.7,109.0,110.9
26,SAS,Spurs,27.0,36.0,0.429,51.7,37.1,47.0,11.9,113.2,114.9
27,TOR,Raptors,46.0,18.0,0.719,52.1,37.1,45.8,13.6,113.0,106.5
28,UTA,Jazz,41.0,23.0,0.641,53.8,38.3,47.5,14.3,111.0,107.9
29,WAS,Wizards,24.0,40.0,0.375,51.1,37.2,46.1,13.4,115.6,119.7