In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import numpy.ma as ma
from scipy.stats import linregress
import json as json
from ohmysportsfeedspy import MySportsFeeds
#from sports_api_key import api_key 
#api_key = 
msf = MySportsFeeds(version="2.0")
msf.authenticate(api_key, 'MYSPORTSFEEDS')

In [4]:
#output = msf.msf_get_data(league='nba',season='2018-2019-regular',feed='seasonal_games',format='json')
#print(output)

team_stats = ['teamStatsTotals']
team_data = []
stats_data = []

lastUpdate = ['lastUpdatedOn']
games = ['games']
#chedule = ['schedule']
for team in team_stats:
    response = msf.msf_get_data(league='nba',season='2019-2020-regular',feed='seasonal_games',format='json')
    lastUpdate.append(response['lastUpdatedOn'])
    games.append(response['games'])
    #chedule.append(response['schedule'])
#print(response)

In [5]:
nbaDict = games[1]
nbaData = pd.DataFrame(nbaDict)
nbaData

,schedule,score
0,"{'id': 53038, 'startTime': '2019-10-23T00:00:0...","{'currentQuarter': None, 'currentQuarterSecond..."
1,"{'id': 53040, 'startTime': '2019-10-23T02:30:0...","{'currentQuarter': None, 'currentQuarterSecond..."
2,"{'id': 53041, 'startTime': '2019-10-23T23:00:0...","{'currentQuarter': None, 'currentQuarterSecond..."
3,"{'id': 53050, 'startTime': '2019-10-23T23:00:0...","{'currentQuarter': None, 'currentQuarterSecond..."
4,"{'id': 53051, 'startTime': '2019-10-23T23:00:0...","{'currentQuarter': None, 'currentQuarterSecond..."
...,...,...
1225,"{'id': 54259, 'startTime': '2020-04-15T23:30:0...","{'currentQuarter': None, 'currentQuarterSecond..."
1226,"{'id': 53039, 'startTime': '2020-04-15T23:30:0...","{'currentQuarter': None, 'currentQuarterSecond..."
1227,"{'id': 54258, 'startTime': '2020-04-16T02:00:0...","{'currentQuarter': None, 'currentQuarterSecond..."
1228,"{'id': 54257, 'startTime': '2020-04-16T02:00:0...","{'currentQuarter': None, 'currentQuarterSecond..."
1229,"{'id': 54256, 'startTime': '2020-04-16T02:00:0...","{'currentQuarter': None, 'currentQuarterSecond..."

In [6]:
nbaDataSchedule = pd.concat([nbaData.schedule.apply(pd.Series)], axis=1)

In [7]:
nbaDataSchedule.head()

,id,startTime,endedTime,awayTeam,homeTeam,venue,venueAllegiance,scheduleStatus,originalStartTime,delayedOrPostponedReason,playedStatus,attendance,officials,broadcasters,weather
0,53038,2019-10-23T00:00:00.000Z,None,"{'id': 110, 'abbreviation': 'NOP'}","{'id': 81, 'abbreviation': 'TOR'}","{'id': 1, 'name': 'Scotiabank Arena'}",HOME,NORMAL,None,None,COMPLETED,None,[],[],None
1,53040,2019-10-23T02:30:00.000Z,None,"{'id': 105, 'abbreviation': 'LAL'}","{'id': 102, 'abbreviation': 'LAC'}","{'id': 25, 'name': 'Staples Center'}",HOME,NORMAL,None,None,COMPLETED,None,[],[],None
2,53041,2019-10-23T23:00:00.000Z,None,"{'id': 89, 'abbreviation': 'CHI'}","{'id': 93, 'abbreviation': 'CHA'}","{'id': 87, 'name': 'Spectrum Center'}",HOME,NORMAL,None,None,COMPLETED,None,[],[],None
3,53050,2019-10-23T23:00:00.000Z,None,"{'id': 86, 'abbreviation': 'CLE'}","{'id': 95, 'abbreviation': 'ORL'}","{'id': 89, 'name': 'Amway Center'}",HOME,NORMAL,None,None,COMPLETED,None,[],[],None
4,53051,2019-10-23T23:00:00.000Z,None,"{'id': 88, 'abbreviation': 'DET'}","{'id': 87, 'abbreviation': 'IND'}","{'id': 81, 'name': 'Bankers Life Fieldhouse'}",HOME,NORMAL,None,None,COMPLETED,None,[],[],None

In [8]:
nbaDataScore = pd.concat([nbaData.score.apply(pd.Series)], axis=1)
nbaDataScore.head()

,currentQuarter,currentQuarterSecondsRemaining,currentIntermission,awayScoreTotal,homeScoreTotal,quarters
0,None,None,None,122.0,130.0,"[{'quarterNumber': 1, 'awayScore': 30, 'homeSc..."
1,None,None,None,102.0,112.0,"[{'quarterNumber': 1, 'awayScore': 25, 'homeSc..."
2,None,None,None,125.0,126.0,"[{'quarterNumber': 1, 'awayScore': 28, 'homeSc..."
3,None,None,None,85.0,94.0,"[{'quarterNumber': 1, 'awayScore': 24, 'homeSc..."
4,None,None,None,119.0,110.0,"[{'quarterNumber': 1, 'awayScore': 27, 'homeSc..."

In [9]:
nbaData_road = pd.concat([nbaDataSchedule.awayTeam.apply(pd.Series)], axis=1)
nbaData_road.head(10)

    id abbreviation
0  110          NOP
1  105          LAL
2   89          CHI
3   86          CLE
4   88          DET
5   82          BOS
6  107          MEM
7  100          MIN
8   83          NYK
9   94          WAS

In [10]:
nbaData_home = pd.concat([nbaDataSchedule.homeTeam.apply(pd.Series)], axis=1)
nbaData_home.head(10)

    id abbreviation
0   81          TOR
1  102          LAC
2   93          CHA
3   95          ORL
4   87          IND
5   85          PHI
6   92          MIA
7   84          BRO
8  106          SAS
9  108          DAL

In [11]:
nbaData_venue = pd.concat([nbaDataSchedule.venue.apply(pd.Series)], axis=1)
nbaData_venue.head(10)

   id                      name
0   1          Scotiabank Arena
1  25            Staples Center
2  87           Spectrum Center
3  89              Amway Center
4  81   Bankers Life Fieldhouse
5  29        Wells Fargo Center
6  86   American Airlines Arena
7  78           Barclays Center
8  99               AT&T Center
9   2  American Airlines Center

In [118]:
nbaRoadAbr = nbaData_road['abbreviation']
nbaHomeAbr = nbaData_home['abbreviation']
nbaVen = nbaData_venue['name']
nbascoresRoad = nbaDataScore['awayScoreTotal']
nbascoresHome = nbaDataScore['homeScoreTotal']
nbaDate = nbaDataSchedule['startTime']


filteredNBAdata = pd.DataFrame({"Date":nbaDate,
                                "Home Team":nbaHomeAbr,
                                "Home Score":nbascoresHome,
                                "Road Team":nbaRoadAbr,
                                "Road Score":nbascoresRoad,
                                "Venue":nbaVen,})

In [119]:
filteredNBAdata.to_csv('output_data/2019-2020-NBA.csv')
filteredNBAdata.head(20)

,Date,Home Team,Home Score,Road Team,Road Score,Venue
0,2019-10-23T00:00:00.000Z,TOR,130.0,NOP,122.0,Scotiabank Arena
1,2019-10-23T02:30:00.000Z,LAC,112.0,LAL,102.0,Staples Center
2,2019-10-23T23:00:00.000Z,CHA,126.0,CHI,125.0,Spectrum Center
3,2019-10-23T23:00:00.000Z,ORL,94.0,CLE,85.0,Amway Center
4,2019-10-23T23:00:00.000Z,IND,110.0,DET,119.0,Bankers Life Fieldhouse
5,2019-10-23T23:30:00.000Z,PHI,107.0,BOS,93.0,Wells Fargo Center
6,2019-10-23T23:30:00.000Z,MIA,120.0,MEM,101.0,American Airlines Arena
7,2019-10-23T23:30:00.000Z,BRO,126.0,MIN,127.0,Barclays Center
8,2019-10-24T00:30:00.000Z,SAS,120.0,NYK,111.0,AT&T Center
9,2019-10-24T00:30:00.000Z,DAL,108.0,WAS,100.0,American Airlines Center
10,2019-10-24T01:00:00.000Z,UTA,100.0,OKL,95.0,Vivint Smart Home Arena
11,2019-10-24T02:00:00.000Z,POR,100.0,DEN,108.0,Moda Center
12,2019-10-24T02:00:00.000Z,PHX,124.0,SAC,95.0,Talking Stick Resort Arena
13,2019-10-24T23:00:00.000Z,DET,100.0,ATL,117.0,Little Caesars Arena
14,2019-10-25T00:00:00.000Z,HOU,111.0,MIL,117.0,Toyota Center
15,2019-10-25T02:30:00.000Z,GSW,122.0,LAC,141.0,Chase Center
16,2019-10-25T23:00:00.000Z,CHA,99.0,MIN,121.0,Spectrum Center
17,2019-10-25T23:00:00.000Z,BOS,112.0,TOR,106.0,TD Garden
18,2019-10-25T23:30:00.000Z,BRO,113.0,NYK,109.0,Barclays Center
19,2019-10-26T00:00:00.000Z,OKL,85.0,WAS,97.0,Chesapeake Energy Arena

In [14]:
#team_stats = ['teamStatsTotals']
team_data = []
stats_data = []

lastUpdate = ['lastUpdatedOn']
references = ['references']
#chedule = ['schedule']
for team in team_stats:
    response = msf.msf_get_data(league='nba',season='2019-2020-regular',feed='seasonal_games',format='json')
    lastUpdate.append(response['lastUpdatedOn'])
    references.append(response['references'])
    #chedule.append(response['schedule'])
#print(response)

In [15]:
#references

In [16]:
nbaRefDict = references[1]
nbaRefData = pd.DataFrame.from_dict(nbaRefDict, orient='index')
nbaRefData

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
teamReferences,"{'id': 81, 'city': 'Toronto', 'name': 'Raptors...","{'id': 82, 'city': 'Boston', 'name': 'Celtics'...","{'id': 83, 'city': 'New York', 'name': 'Knicks...","{'id': 84, 'city': 'Brooklyn', 'name': 'Nets',...","{'id': 85, 'city': 'Philadelphia', 'name': '76...","{'id': 86, 'city': 'Cleveland', 'name': 'Caval...","{'id': 87, 'city': 'Indiana', 'name': 'Pacers'...","{'id': 88, 'city': 'Detroit', 'name': 'Pistons...","{'id': 89, 'city': 'Chicago', 'name': 'Bulls',...","{'id': 90, 'city': 'Milwaukee', 'name': 'Bucks...",...,"{'id': 101, 'city': 'Golden State', 'name': 'W...","{'id': 102, 'city': 'Los Angeles', 'name': 'Cl...","{'id': 103, 'city': 'Sacramento', 'name': 'Kin...","{'id': 104, 'city': 'Phoenix', 'name': 'Suns',...","{'id': 105, 'city': 'Los Angeles', 'name': 'La...","{'id': 106, 'city': 'San Antonio', 'name': 'Sp...","{'id': 107, 'city': 'Memphis', 'name': 'Grizzl...","{'id': 108, 'city': 'Dallas', 'name': 'Maveric...","{'id': 109, 'city': 'Houston', 'name': 'Rocket...","{'id': 110, 'city': 'New Orleans', 'name': 'Pe..."
venueReferences,"{'id': 1, 'name': 'Scotiabank Arena', 'city': ...","{'id': 2, 'name': 'American Airlines Center', ...","{'id': 12, 'name': 'Madison Square Garden', 'c...","{'id': 13, 'name': 'Capital One Arena', 'city'...","{'id': 19, 'name': 'Pepsi Center', 'city': 'De...","{'id': 20, 'name': 'State Farm Arena', 'city':...","{'id': 25, 'name': 'Staples Center', 'city': '...","{'id': 27, 'name': 'TD Garden', 'city': 'Bosto...","{'id': 28, 'name': 'United Center', 'city': 'C...","{'id': 29, 'name': 'Wells Fargo Center', 'city...",...,"{'id': 98, 'name': 'Talking Stick Resort Arena...","{'id': 99, 'name': 'AT&T Center', 'city': 'San...","{'id': 100, 'name': 'FedEx Forum', 'city': 'Me...","{'id': 102, 'name': 'Toyota Center', 'city': '...","{'id': 103, 'name': 'Smoothie King Center', 'c...","{'id': 145, 'name': 'Little Caesars Arena', 'c...","{'id': 150, 'name': 'Chase Center', 'city': 'S...","{'id': 151, 'name': 'Golden 1 Center', 'city':...","{'id': 152, 'name': 'Fiserv Forum', 'city': 'M...","{'id': 158, 'name': 'AccorHotels Arena', 'city..."

In [17]:
nbaRef = nbaRefData.transpose()
nbaRef.head()

,teamReferences,venueReferences
0,"{'id': 81, 'city': 'Toronto', 'name': 'Raptors...","{'id': 1, 'name': 'Scotiabank Arena', 'city': ..."
1,"{'id': 82, 'city': 'Boston', 'name': 'Celtics'...","{'id': 2, 'name': 'American Airlines Center', ..."
2,"{'id': 83, 'city': 'New York', 'name': 'Knicks...","{'id': 12, 'name': 'Madison Square Garden', 'c..."
3,"{'id': 84, 'city': 'Brooklyn', 'name': 'Nets',...","{'id': 13, 'name': 'Capital One Arena', 'city'..."
4,"{'id': 85, 'city': 'Philadelphia', 'name': '76...","{'id': 19, 'name': 'Pepsi Center', 'city': 'De..."

In [67]:
nbaTeamRefIndex = pd.concat([nbaRef.teamReferences.apply(pd.Series)], axis=1)
nbaTeamRefIndex.sort_values(by=['abbreviation'], inplace=True)
nbaTeamRef = nbaTeamRefIndex.reset_index(drop=True)

nbaTeamRef

,id,city,name,abbreviation,homeVenue,teamColoursHex,socialMediaAccounts,officialLogoImageSrc
0,91,Atlanta,Hawks,ATL,"{'id': 20, 'name': 'State Farm Arena'}","[#e03a3e, #c1d32f, #26282a]","[{'mediaType': 'TWITTER', 'value': 'ATLHawks'}]",https://global.nba.com/media/img/teams/00/logo...
1,82,Boston,Celtics,BOS,"{'id': 27, 'name': 'TD Garden'}","[#007a33, #ba9653, #963821, #e59e6d, #000000]","[{'mediaType': 'TWITTER', 'value': 'celtics'}]",https://global.nba.com/media/img/teams/00/logo...
2,84,Brooklyn,Nets,BRO,"{'id': 78, 'name': 'Barclays Center'}","[#000000, #ffffff]","[{'mediaType': 'TWITTER', 'value': 'BrooklynNe...",https://global.nba.com/media/img/teams/00/logo...
3,93,Charlotte,Hornets,CHA,"{'id': 87, 'name': 'Spectrum Center'}","[#1d1160, #00788c, #a1a1a4]","[{'mediaType': 'TWITTER', 'value': 'hornets'}]",https://global.nba.com/media/img/teams/00/logo...
4,89,Chicago,Bulls,CHI,"{'id': 28, 'name': 'United Center'}","[#ce1141, #000000]","[{'mediaType': 'TWITTER', 'value': 'chicagobul...",https://global.nba.com/media/img/teams/00/logo...
5,86,Cleveland,Cavaliers,CLE,"{'id': 80, 'name': 'Quicken Loans Arena'}","[#6f263d, #041e42, #ffb81c, #000000]","[{'mediaType': 'TWITTER', 'value': 'cavs'}]",https://global.nba.com/media/img/teams/00/logo...
6,108,Dallas,Mavericks,DAL,"{'id': 2, 'name': 'American Airlines Center'}","[#00538c, #002b5e, #b8c4ca, #000000]","[{'mediaType': 'TWITTER', 'value': 'dallasmavs'}]",https://global.nba.com/media/img/teams/00/logo...
7,99,Denver,Nuggets,DEN,"{'id': 19, 'name': 'Pepsi Center'}","[#0e2240, #fec524, #8b2131, #1d428a]","[{'mediaType': 'TWITTER', 'value': 'nuggets'}]",https://global.nba.com/media/img/teams/00/logo...
8,88,Detroit,Pistons,DET,"{'id': 145, 'name': 'Little Caesars Arena'}","[#c8102e, #006bb6, #bec0c2, #002d62]","[{'mediaType': 'TWITTER', 'value': 'DetroitPis...",https://global.nba.com/media/img/teams/00/logo...
9,101,Golden State,Warriors,GSW,"{'id': 150, 'name': 'Chase Center'}","[#006bb6, #fdb927, #26282a]","[{'mediaType': 'TWITTER', 'value': 'warriors'}]",https://global.nba.com/media/img/teams/00/logo...
10,109,Houston,Rockets,HOU,"{'id': 102, 'name': 'Toyota Center'}","[#ce1141, #000000, #c4ced4]","[{'mediaType': 'TWITTER', 'value': 'HoustonRoc...",https://global.nba.com/media/img/teams/00/logo...
11,87,Indiana,Pacers,IND,"{'id': 81, 'name': 'Bankers Life Fieldhouse'}","[#002d62, #fdbb30, #bec0c2]","[{'mediaType': 'TWITTER', 'value': 'Pacers'}]",https://global.nba.com/media/img/teams/00/logo...
12,102,Los Angeles,Clippers,LAC,"{'id': 25, 'name': 'Staples Center'}","[#c8102e, #1d428a, #bec0c2, #000000]","[{'mediaType': 'TWITTER', 'value': 'LAClippers'}]",https://global.nba.com/media/img/teams/00/logo...
13,105,Los Angeles,Lakers,LAL,"{'id': 25, 'name': 'Staples Center'}","[#552583, #fdb927, #000000]","[{'mediaType': 'TWITTER', 'value': 'Lakers'}]",https://global.nba.com/media/img/teams/00/logo...
14,107,Memphis,Grizzlies,MEM,"{'id': 100, 'name': 'FedEx Forum'}","[#5d76a9, #12173f, #f5b112, #707271]","[{'mediaType': 'TWITTER', 'value': 'memgrizz'}]",https://global.nba.com/media/img/teams/00/logo...
15,92,Miami,Heat,MIA,"{'id': 86, 'name': 'American Airlines Arena'}","[#98002e, #f9a01b, #000000]","[{'mediaType': 'TWITTER', 'value': 'MiamiHEAT'}]",https://global.nba.com/media/img/teams/00/logo...
16,90,Milwaukee,Bucks,MIL,"{'id': 152, 'name': 'Fiserv Forum'}","[#00471b, #eee1c6, #0077c0, #000000]","[{'mediaType': 'TWITTER', 'value': 'Bucks'}]",https://global.nba.com/media/img/teams/00/logo...
17,100,Minnesota,Timberwolves,MIN,"{'id': 94, 'name': 'Target Center'}","[#0c2340, #236192, #9ea2a2, #78be20]","[{'mediaType': 'TWITTER', 'value': 'Timberwolv...",https://global.nba.com/media/img/teams/00/logo...
18,110,New Orleans,Pelicans,NOP,"{'id': 103, 'name': 'Smoothie King Center'}","[#0c2340, #c8102e, #857a4d]","[{'mediaType': 'TWITTER', 'value': 'PelicansNB...",https://global.nba.com/media/img/teams/00/logo...
19,83,New York,Knicks,NYK,"{'id': 12, 'name': 'Madison Square Garden'}","[#006bb6, #f58426, #bec0c2, #000000]","[{'mediaType': 'TWITTER', 'value': 'nyknicks'}]",https://global.nba.com/media/img/teams/00/logo...
20,96,Oklahoma City,Thunder,OKL,"{'id': 90, 'name': 'Chesapeake Energy Arena'}","[#007ac1, #ef3b24, #002d62, #fdbb30]","[{'mediaType': 'TWITTER', 'value': 'okcthunder'}]",https://global.nba.com/media/img/teams/00/logo...
21,95,Orlando,Magic,ORL,"{'id': 89, 'name': 'Amway Center'}","[#0077c0, #c4ced4, #000000]","[{'mediaType': 'TWITTER', 'value': 'OrlandoMag...",https://global.nba.com/media/img/teams/00/logo...
22,85,Philadelphia,76ers,PHI,"{'id': 29, 'name': 'Wells Fargo Center'}","[#006bb6, #ed174c, #002b5c, #c4ced4]","[{'mediaType': 'TWITTER', 'value': 'sixers'}]",https://global.nba.com/media/img/teams/00/logo...
23,104,Phoenix,Suns,PHX,"{'id': 98, 'name': 'Talking Stick Resort Arena'}","[#1d1160, #e56020, #000000, #63727a, #f9ad1b, ...","[{'mediaType': 'TWITTER', 'value': 'Suns'}]",https://global.nba.com/media/img/teams/00/logo...
24,97,Portland,Trail Blazers,POR,"{'id': 91, 'name': 'Moda Center'}","[#e03a3e, #000000]","[{'mediaType': 'TWITTER', 'value': 'trailblaze...",https://global.nba.com/media/img/teams/00/logo...
25,103,Sacramento,Kings,SAC,"{'id': 151, 'name': 'Golden 1 Center'}","[#5a2d81, #63727a, #000000]","[{'mediaType': 'TWITTER', 'value': 'Sacramento...",https://global.nba.com/media/img/teams/00/logo...
26,106,San Antonio,Spurs,SAS,"{'id': 99, 'name': 'AT&T Center'}","[#c4ced4, #000000]","[{'mediaType': 'TWITTER', 'value': 'spurs'}]",https://global.nba.com/media/img/teams/00/logo...
27,81,Toronto,Raptors,TOR,"{'id': 1, 'name': 'Scotiabank Arena'}","[#ce1141, #000000, #a1a1a4, #b4975a]","[{'mediaType': 'TWITTER', 'value': 'Raptors'}]",https://global.nba.com/media/img/teams/00/logo...
28,98,Utah,Jazz,UTA,"{'id': 92, 'name': 'Vivint Smart Home Arena'}","[#002b5c, #00471b, #f9a01b]","[{'mediaType': 'TWITTER', 'value': 'utahjazz'}]",https://global.nba.com/media/img/teams/00/logo...
29,94,Washington,Wizards,WAS,"{'id': 13, 'name': 'Capital One Arena'}","[#002b5c, #e31837, #c4ced4]","[{'mediaType': 'TWITTER', 'value': 'WashWizard...",https://global.nba.com/media/img/teams/00/logo...

In [68]:
nbaVenRefIndex = pd.concat([nbaRef.venueReferences.apply(pd.Series)], axis=1)
nbaVenRefIndex.sort_values(by=['city'], inplace=True)
nbaVenRef = nbaVenRefIndex.reset_index(drop=True)
nbaVenRef

,id,name,city,country,geoCoordinates,capacitiesByEventType,playingSurface,baseballDimensions,hasRoof,hasRetractableRoof
0,20,State Farm Arena,"Atlanta, GA",USA,"{'latitude': 33.757222, 'longitude': -84.396389}","[{'eventType': 'ICE_HOCKEY', 'capacity': 17624...",None,[],True,False
1,27,TD Garden,"Boston, MA",USA,"{'latitude': 42.366303, 'longitude': -71.062228}","[{'eventType': 'ICE_HOCKEY', 'capacity': 17565...",None,[],True,False
2,78,Barclays Center,"Brooklyn, NY",USA,"{'latitude': 40.682661, 'longitude': -73.975225}","[{'eventType': 'ICE_HOCKEY', 'capacity': 15795...",Multiple,[],True,False
3,87,Spectrum Center,"Charlotte, NC",USA,"{'latitude': 35.225, 'longitude': -80.839167}","[{'eventType': 'BASKETBALL', 'capacity': 20200...",Multiple,[],True,False
4,28,United Center,"Chicago, IL",USA,"{'latitude': 41.880556, 'longitude': -87.674167}","[{'eventType': 'ICE_HOCKEY', 'capacity': 22428...",None,[],True,False
5,80,Quicken Loans Arena,"Cleveland, OH",USA,"{'latitude': 41.496389, 'longitude': -81.688056}","[{'eventType': 'ICE_HOCKEY', 'capacity': 18926...",None,[],True,False
6,2,American Airlines Center,"Dallas, TX",USA,"{'latitude': 32.790556, 'longitude': -96.810278}","[{'eventType': 'ICE_HOCKEY', 'capacity': 19323...",Multiple,[],True,False
7,19,Pepsi Center,"Denver, CO",USA,"{'latitude': 39.748611, 'longitude': -105.0075}","[{'eventType': 'ICE_HOCKEY', 'capacity': 17809...",Multiple,[],True,False
8,145,Little Caesars Arena,"Detroit, MI",USA,"{'latitude': 42.341111, 'longitude': -83.055}","[{'eventType': 'ICE_HOCKEY', 'capacity': 19515...",None,[],True,False
9,102,Toyota Center,"Houston, TX",USA,"{'latitude': 29.750833, 'longitude': -95.362222}","[{'eventType': 'BASKETBALL', 'capacity': 18055...",None,[],True,False
10,81,Bankers Life Fieldhouse,"Indianapolis, IN",USA,"{'latitude': 39.763889, 'longitude': -86.155556}","[{'eventType': 'ICE_HOCKEY', 'capacity': 12300...",Multiple,[],True,False
11,25,Staples Center,"Los Angeles, CA",USA,"{'latitude': 34.043056, 'longitude': -118.267222}","[{'eventType': 'ICE_HOCKEY', 'capacity': 18230...",None,[],True,False
12,100,FedEx Forum,"Memphis, TN",USA,"{'latitude': 35.138333, 'longitude': -90.050556}","[{'eventType': 'ICE_HOCKEY', 'capacity': 16411...",None,[],True,False
13,86,American Airlines Arena,"Miami, FL",USA,"{'latitude': 25.781389, 'longitude': -80.188056}","[{'eventType': 'BASKETBALL', 'capacity': 19600...",Multiple,[],True,False
14,152,Fiserv Forum,"Milwaukee, WI",USA,"{'latitude': 43.045028, 'longitude': -87.918167}","[{'eventType': 'GENERAL', 'capacity': 17341}]",None,[],True,False
15,94,Target Center,"Minneapolis, MN",USA,"{'latitude': 44.979444, 'longitude': -93.276111}","[{'eventType': 'ICE_HOCKEY', 'capacity': 17500...",Multiple,[],True,False
16,103,Smoothie King Center,"New Orleans, LA",USA,"{'latitude': 29.948889, 'longitude': -90.081944}","[{'eventType': 'ICE_HOCKEY', 'capacity': 16900...",None,[],True,False
17,12,Madison Square Garden,"New York, NY",USA,"{'latitude': 40.750556, 'longitude': -73.993611}","[{'eventType': 'ICE_HOCKEY', 'capacity': 18006...",None,[],True,False
18,90,Chesapeake Energy Arena,"Oklahama City, OK",USA,"{'latitude': 35.463333, 'longitude': -97.515}","[{'eventType': 'ICE_HOCKEY', 'capacity': 15152...",None,[],True,False
19,89,Amway Center,"Orlando, FL",USA,"{'latitude': 28.539167, 'longitude': -81.383611}","[{'eventType': 'END_STAGE_CONCERT', 'capacity'...",Multiple,[],True,False
20,158,AccorHotels Arena,Paris,France,"{'latitude': 48.838653, 'longitude': 2.3785}","[{'eventType': 'ATHLETICS', 'capacity': 10910}...",Versatile,[],True,False
21,29,Wells Fargo Center,"Philadelphia, PA",USA,"{'latitude': 39.901111, 'longitude': -75.171944}","[{'eventType': 'ICE_HOCKEY', 'capacity': 19306...",None,[],True,False
22,98,Talking Stick Resort Arena,"Phoenix, AZ",USA,"{'latitude': 33.445833, 'longitude': -112.071389}","[{'eventType': 'GENERAL', 'capacity': 18422}]",None,[],True,False
23,91,Moda Center,"Portland, OR",USA,"{'latitude': 45.531667, 'longitude': -122.666667}","[{'eventType': 'ICE_HOCKEY', 'capacity': 18280...",None,[],True,False
24,151,Golden 1 Center,"Sacramento, CA",USA,"{'latitude': 38.580361, 'longitude': -121.499611}","[{'eventType': 'BASKETBALL', 'capacity': 17608...",None,[],True,False
25,92,Vivint Smart Home Arena,"Salt Lake City, UT",USA,"{'latitude': 40.768333, 'longitude': -111.901111}","[{'eventType': 'GENERAL', 'capacity': 18300}]",None,[],True,False
26,99,AT&T Center,"San Antonio, TX",USA,"{'latitude': 29.426944, 'longitude': -98.4375}","[{'eventType': 'ICE_HOCKEY', 'capacity': 16151...",Multiple,[],True,False
27,150,Chase Center,"San Francisco, CA",USA,"{'latitude': 37.768056, 'longitude': -122.3875}","[{'eventType': 'BASKETBALL', 'capacity': 18064}]",None,[],True,False
28,1,Scotiabank Arena,"Toronto, ON",Canada,"{'latitude': 43.643333, 'longitude': -79.379167}","[{'eventType': 'ICE_HOCKEY', 'capacity': 20270...",None,[],True,False
29,13,Capital One Arena,"Washington, DC",USA,"{'latitude': 38.89801, 'longitude': -77.0231909}","[{'eventType': 'ICE_HOCKEY', 'capacity': 18506...",Multiple,[],True,False

In [104]:
nbaGeoRef = pd.concat([nbaVenRef.geoCoordinates.apply(pd.Series)], axis=1)
nbaGeoRef.head()

    latitude  longitude
0  33.757222 -84.396389
1  42.366303 -71.062228
2  40.682661 -73.975225
3  35.225000 -80.839167
4  41.880556 -87.674167

In [120]:
teamName = nbaTeamRef['name']
teamAbr = nbaTeamRef['abbreviation']
teamCity = nbaVenRef['city']
teamArena = nbaVenRef['name']
teamLat = nbaGeoRef['latitude']
teamLng = nbaGeoRef['longitude']

filteredNBAref = pd.DataFrame({"Team Name":teamName,
                                "Abbreviation":teamAbr,
                                "City, State": teamCity,
                                "Venue":teamArena,
                                "Latitude":teamLat,
                               "Longitude":teamLng})

In [121]:
#filteredNBAref.to_csv('output_data/NBA_venua.csv')
filteredNBAref

,Team Name,Abbreviation,"City, State",Venue,Latitude,Longitude
0,Hawks,ATL,"Atlanta, GA",State Farm Arena,33.757222,-84.396389
1,Celtics,BOS,"Boston, MA",TD Garden,42.366303,-71.062228
2,Nets,BRO,"Brooklyn, NY",Barclays Center,40.682661,-73.975225
3,Hornets,CHA,"Charlotte, NC",Spectrum Center,35.225000,-80.839167
4,Bulls,CHI,"Chicago, IL",United Center,41.880556,-87.674167
5,Cavaliers,CLE,"Cleveland, OH",Quicken Loans Arena,41.496389,-81.688056
6,Mavericks,DAL,"Dallas, TX",American Airlines Center,32.790556,-96.810278
7,Nuggets,DEN,"Denver, CO",Pepsi Center,39.748611,-105.007500
8,Pistons,DET,"Detroit, MI",Little Caesars Arena,42.341111,-83.055000
9,Warriors,GSW,"Houston, TX",Toyota Center,29.750833,-95.362222
10,Rockets,HOU,"Indianapolis, IN",Bankers Life Fieldhouse,39.763889,-86.155556
11,Pacers,IND,"Los Angeles, CA",Staples Center,34.043056,-118.267222
12,Clippers,LAC,"Memphis, TN",FedEx Forum,35.138333,-90.050556
13,Lakers,LAL,"Miami, FL",American Airlines Arena,25.781389,-80.188056
14,Grizzlies,MEM,"Milwaukee, WI",Fiserv Forum,43.045028,-87.918167
15,Heat,MIA,"Minneapolis, MN",Target Center,44.979444,-93.276111
16,Bucks,MIL,"New Orleans, LA",Smoothie King Center,29.948889,-90.081944
17,Timberwolves,MIN,"New York, NY",Madison Square Garden,40.750556,-73.993611
18,Pelicans,NOP,"Oklahama City, OK",Chesapeake Energy Arena,35.463333,-97.515000
19,Knicks,NYK,"Orlando, FL",Amway Center,28.539167,-81.383611
20,Thunder,OKL,Paris,AccorHotels Arena,48.838653,2.378500
21,Magic,ORL,"Philadelphia, PA",Wells Fargo Center,39.901111,-75.171944
22,76ers,PHI,"Phoenix, AZ",Talking Stick Resort Arena,33.445833,-112.071389
23,Suns,PHX,"Portland, OR",Moda Center,45.531667,-122.666667
24,Trail Blazers,POR,"Sacramento, CA",Golden 1 Center,38.580361,-121.499611
25,Kings,SAC,"Salt Lake City, UT",Vivint Smart Home Arena,40.768333,-111.901111
26,Spurs,SAS,"San Antonio, TX",AT&T Center,29.426944,-98.437500
27,Raptors,TOR,"San Francisco, CA",Chase Center,37.768056,-122.387500
28,Jazz,UTA,"Toronto, ON",Scotiabank Arena,43.643333,-79.379167
29,Wizards,WAS,"Washington, DC",Capital One Arena,38.898010,-77.023191

In [122]:
reworkVenue = filteredNBAref

for i, TeamName in filteredNBAref.iterrows():
    reworkVenue.loc[9, "Team Name"] = "Rockets",
    reworkVenue.loc[9, "Abbreviation"] = "HOU",
    reworkVenue.loc[10, "Team Name"] = "Pacers",
    reworkVenue.loc[10, "Abbreviation"] = "IND",
    reworkVenue.loc[11, "Abbreviation"] = "LAC",    
    reworkVenue.loc[11, "Team Name"] = "Clippers",
    reworkVenue.loc[12, "Team Name"] = "Lakers",
    reworkVenue.loc[12, "Abbreviation"] = "LAL",
    reworkVenue.loc[12, "City, State"] = "Los Angeles, CA",
    reworkVenue.loc[12, "Venue"] = "Staples Center",
    reworkVenue.loc[12, "Latitude"] = 34.043056,
    reworkVenue.loc[12, "Longitude"] = -118.267222,
    
    reworkVenue.loc[13, "Team Name"] = "Grizzlies",
    reworkVenue.loc[13, "Abbreviation"] = "MEM",
    reworkVenue.loc[13, "City, State"] = "Memphis, TN",
    reworkVenue.loc[13, "Venue"] = "FedEx Forum",
    reworkVenue.loc[13, "Latitude"] = 35.138333,
    reworkVenue.loc[13, "Longitude"] = -80.188056,    

    reworkVenue.loc[14, "Team Name"] = "Heat",
    reworkVenue.loc[14, "Abbreviation"] = "MIA",
    reworkVenue.loc[14, "City, State"] = "Miami, FL",
    reworkVenue.loc[14, "Venue"] = "American Airlines Arena",
    reworkVenue.loc[14, "Latitude"] = 25.7755,
    reworkVenue.loc[14, "Longitude"] = -80.1862, 
    
    reworkVenue.loc[15, "Team Name"] = "Bucks"
    reworkVenue.loc[15, "Abbreviation"] = "MIL"
    reworkVenue.loc[15, "City, State"] = "Milwaukee, WI"
    reworkVenue.loc[15, "Venue"] = "Fiserv Forum"
    reworkVenue.loc[15, "Latitude"] = 43.045028
    reworkVenue.loc[15, "Longitude"] = -87.918167
    
    reworkVenue.loc[16, "Team Name"] = "Timberwolves"
    reworkVenue.loc[16, "Abbreviation"] ="MIN"
    reworkVenue.loc[16, "City, State"] = "Minneapolis, MN"
    reworkVenue.loc[16, "Venue"] = "Target Center"
    reworkVenue.loc[16, "Latitude"] =44.979444
    reworkVenue.loc[16, "Longitude"] =-93.276111
    
    reworkVenue.loc[17, "Team Name"] = "Pelicans"
    reworkVenue.loc[17, "Abbreviation"] ="NOP"
    reworkVenue.loc[17, "City, State"] = "New Orleans, LA"
    reworkVenue.loc[17, "Venue"] ="Smoothie King Center"
    reworkVenue.loc[17, "Latitude"] =29.948889
    reworkVenue.loc[17, "Longitude"] =-90.081944
    
    reworkVenue.loc[18, "Team Name"] = "Knicks"
    reworkVenue.loc[18, "Abbreviation"] ="NYK"
    reworkVenue.loc[18, "City, State"] = "New York, NY"
    reworkVenue.loc[18, "Venue"] ="Madison Square Garden"
    reworkVenue.loc[18, "Latitude"] =40.750556
    reworkVenue.loc[18, "Longitude"] =-73.993611
    
    reworkVenue.loc[19, "Team Name"] = "Thunder"
    reworkVenue.loc[19, "Abbreviation"] ="OKL"
    reworkVenue.loc[19, "City, State"] = "Oklahama City, OK"
    reworkVenue.loc[19, "Venue"] ="Chesapeake Energy Arena"
    reworkVenue.loc[19, "Latitude"] =35.463333
    reworkVenue.loc[19, "Longitude"] =-97.515000
    
    reworkVenue.loc[20, "Team Name"] = "Magic"
    reworkVenue.loc[20, "Abbreviation"] = "ORL"
    reworkVenue.loc[20, "City, State"] = "Orlando, FL"
    reworkVenue.loc[20, "Venue"] ="Amway Center"
    reworkVenue.loc[20, "Latitude"] =28.539167
    reworkVenue.loc[20, "Longitude"] =-81.383611
    
    reworkVenue.loc[21, "Team Name"] = "76ers"
    reworkVenue.loc[21, "Abbreviation"] ="PHI"
    reworkVenue.loc[21, "City, State"] = "Philadelphia, PA"
    reworkVenue.loc[21, "Venue"] ="Wells Fargo Center"
    reworkVenue.loc[21, "Latitude"] = 39.901111
    reworkVenue.loc[21, "Longitude"] = -75.171944
    
    reworkVenue.loc[22, "Team Name"] = "Suns"
    reworkVenue.loc[22, "Abbreviation"] ="PHX"
    reworkVenue.loc[22, "City, State"] ="Phoenix, AZ"
    reworkVenue.loc[22, "Venue"] ="Talking Stick Resort Arena"
    reworkVenue.loc[22, "Latitude"] = 33.445833
    reworkVenue.loc[22, "Longitude"] = -112.071389
    
    reworkVenue.loc[23, "Team Name"] = "Trail Blazers"
    reworkVenue.loc[23, "Abbreviation"] ="POR"
    reworkVenue.loc[23, "City, State"] ="Portland, OR"
    reworkVenue.loc[23, "Venue"] ="Moda Center"
    reworkVenue.loc[23, "Latitude"] = 45.531667
    reworkVenue.loc[23, "Longitude"] = -122.666667
    
    reworkVenue.loc[24, "Team Name"] = "Kings"
    reworkVenue.loc[24, "Abbreviation"] ="SAC"
    reworkVenue.loc[24, "City, State"] ="Sacramento, CA"
    reworkVenue.loc[24, "Venue"] ="Golden 1 Center"
    reworkVenue.loc[24, "Latitude"] = 38.580361
    reworkVenue.loc[24, "Longitude"] = -121.499611
    
    reworkVenue.loc[25, "Team Name"] = "Jazz"
    
    reworkVenue.loc[27, "Team Name"] = "Warriors"
    reworkVenue.loc[27, "Abbreviation"] ="GSW"
    
    reworkVenue.loc[28, "Team Name"] = "Raptors"
    reworkVenue.loc[28, "Abbreviation"] ="TOR"  
    

reworkVenue

,Team Name,Abbreviation,"City, State",Venue,Latitude,Longitude
0,Hawks,ATL,"Atlanta, GA",State Farm Arena,33.757222,-84.396389
1,Celtics,BOS,"Boston, MA",TD Garden,42.366303,-71.062228
2,Nets,BRO,"Brooklyn, NY",Barclays Center,40.682661,-73.975225
3,Hornets,CHA,"Charlotte, NC",Spectrum Center,35.225000,-80.839167
4,Bulls,CHI,"Chicago, IL",United Center,41.880556,-87.674167
5,Cavaliers,CLE,"Cleveland, OH",Quicken Loans Arena,41.496389,-81.688056
6,Mavericks,DAL,"Dallas, TX",American Airlines Center,32.790556,-96.810278
7,Nuggets,DEN,"Denver, CO",Pepsi Center,39.748611,-105.007500
8,Pistons,DET,"Detroit, MI",Little Caesars Arena,42.341111,-83.055000
9,Rockets,HOU,"Houston, TX",Toyota Center,29.750833,-95.362222
10,Pacers,IND,"Indianapolis, IN",Bankers Life Fieldhouse,39.763889,-86.155556
11,Clippers,LAC,"Los Angeles, CA",Staples Center,34.043056,-118.267222
12,Lakers,LAL,"Los Angeles, CA",Staples Center,34.043056,-118.267222
13,Grizzlies,MEM,"Memphis, TN",FedEx Forum,35.138333,-80.188056
14,Heat,MIA,"Miami, FL",American Airlines Arena,25.775500,-80.186200
15,Bucks,MIL,"Milwaukee, WI",Fiserv Forum,43.045028,-87.918167
16,Timberwolves,MIN,"Minneapolis, MN",Target Center,44.979444,-93.276111
17,Pelicans,NOP,"New Orleans, LA",Smoothie King Center,29.948889,-90.081944
18,Knicks,NYK,"New York, NY",Madison Square Garden,40.750556,-73.993611
19,Thunder,OKL,"Oklahama City, OK",Chesapeake Energy Arena,35.463333,-97.515000
20,Magic,ORL,"Orlando, FL",Amway Center,28.539167,-81.383611
21,76ers,PHI,"Philadelphia, PA",Wells Fargo Center,39.901111,-75.171944
22,Suns,PHX,"Phoenix, AZ",Talking Stick Resort Arena,33.445833,-112.071389
23,Trail Blazers,POR,"Portland, OR",Moda Center,45.531667,-122.666667
24,Kings,SAC,"Sacramento, CA",Golden 1 Center,38.580361,-121.499611
25,Jazz,SAC,"Salt Lake City, UT",Vivint Smart Home Arena,40.768333,-111.901111
26,Spurs,SAS,"San Antonio, TX",AT&T Center,29.426944,-98.437500
27,Warriors,GSW,"San Francisco, CA",Chase Center,37.768056,-122.387500
28,Raptors,TOR,"Toronto, ON",Scotiabank Arena,43.643333,-79.379167
29,Wizards,WAS,"Washington, DC",Capital One Arena,38.898010,-77.023191

In [123]:
filteredNBAref.to_csv('output_data/NBA_venua.csv')